<!--<ul>
  <li *ngFor="let topping of allToppings, let i = index"> {{topping.name}}
    <input type="checkbox" (change)="toggleTopping(i)">
    <input type="checkbox" (change)="toggleExcludeTopping(i)">
  </li>
</ul>-->

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>NeapoliGen</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<section class="listscontainer">
  <div class="list">
    <mat-card>
      <mat-card-content>
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <!--<input type="checkbox" (change)="toggleExcludeTopping(i)">-->
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="list">
    <mat-card>
      <mat-card-content>
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <!--<input type="checkbox" (change)="toggleExcludeTopping(i)">-->
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="list">
    <mat-card>
      <mat-card-content>
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <!--<input type="checkbox" (change)="toggleExcludeTopping(i)">-->
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="list">
    <mat-card>
      <mat-card-content>
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <!--<input type="checkbox" (change)="toggleExcludeTopping(i)">-->
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
    </mat-card-content>
    </mat-card>
  </div>

</section>




<!--<mat-list dense role="list">
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <mat-list-item *ngFor="let topping of allToppings, let i = index">
      <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
      <input type="checkbox" (change)="toggleExcludeTopping(i)">
    </mat-list-item>
</cdk-virtual-scroll-viewport>
</mat-list>-->


<!--  <span *ngFor="let topping of availableToppings"> {{topping.name}}
  </span>-->
<!--<mat-card>
  <mat-chip-listbox aria-label="Toppings selection">
    <mat-chip *ngFor="let topping of allToppings, let i = index" (click)="toggleTopping(i)"> {{topping.name}} </mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
    <mat-chip color="warn">Warn fish</mat-chip>
  </mat-chip-listbox>
</mat-card>-->

<app-ranking></app-ranking>


