<!--<ul>
  <li *ngFor="let topping of allToppings, let i = index"> {{topping.name}}
    <input type="checkbox" (change)="toggleTopping(i)">
    <input type="checkbox" (change)="toggleExcludeTopping(i)">
  </li>
</ul>-->
<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>

<section class="listscontainer">
  <div class="list">
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <input type="checkbox" (change)="toggleExcludeTopping(i)">
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>

  <div class="list">
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <input type="checkbox" (change)="toggleExcludeTopping(i)">
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>

  <div class="list">
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <input type="checkbox" (change)="toggleExcludeTopping(i)">
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>

  <div class="list">
    <mat-list dense role="list">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <mat-list-item *ngFor="let topping of allToppings, let i = index">
          <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
          <input type="checkbox" (change)="toggleExcludeTopping(i)">
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>

</section>




<!--<mat-list dense role="list">
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <mat-list-item *ngFor="let topping of allToppings, let i = index">
      <p><mat-checkbox (change)="toggleTopping(i)">{{topping.name}}</mat-checkbox></p>
      <input type="checkbox" (change)="toggleExcludeTopping(i)">
    </mat-list-item>
</cdk-virtual-scroll-viewport>
</mat-list>-->


<!--  <span *ngFor="let topping of availableToppings"> {{topping.name}}
  </span>-->
<!--<mat-card>
  <mat-chip-listbox aria-label="Toppings selection">
    <mat-chip *ngFor="let topping of allToppings, let i = index" (click)="toggleTopping(i)"> {{topping.name}} </mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
    <mat-chip color="warn">Warn fish</mat-chip>
  </mat-chip-listbox>
</mat-card>-->

<app-ranking></app-ranking>


