html{
  margin:0;
  padding:0;
  width: 50%;
}
.example-viewport {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  margin: 12px;
}

.example-item {
  height: 50px;
}


.example-spacer {
  flex: 1 1 auto;
}

.listscontainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rankingitem{
  display: flex;
}

mat-progress-bar {
  width: 30px;
  height: 30px;
}

.ranking{
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}
app-ranking{
  position: center;
}
/*.example-viewport {
  height: 200px;
  width: 100%;
  border: 1px solid black;
}
.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}*/
