/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body{
  margin:0;
  padding:0;
}
.ranking{

  position: center;
  width:50%;
}
.toppings{
  width: 100%;
  margin: 1% 0 1% 0;
  padding: 10px;
  background: #cfcfcf;
}


.dings{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

mat-card{
  min-height: 52px;
}
